<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Web/API Fuzzer</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><a href="/past_runs">See Past Runs</a>
			<br />
			</li>
		</ul>
	</nav>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Web/API Fuzzer</h3>
        </div>
 
        <div class="jumbotron">
            <form action="." method="POST">
				URL: <input type="text" name="text"><br />
				<br />
				<p>Request Types</p>
				<input type="radio" name="options" id="GET" value="GET" checked=true> GET </input><br>
				<input type="radio" name="options" id="POST" value="POST"> POST </input><br>
				<input type="radio" name="options" id="PUT" value="PUT"> PUT </input><br>
				<input type="radio" name="options" id="DELETE" value="DELETE"> DELETE </input><br>
				<br />
				<p>Injection Types</p>
				<input type="radio" name="i_options" id="sql_injections" value="sql_injections" checked=true> SQL </input><br>
				<input type="radio" name="i_options" id="command_injections" value="command_injections"> Command </input><br>
				<input type="radio" name="i_options" id="xss_injections" value="xss_injections"> XSS </input><br>
				<input type="radio" name="i_options" id="rce_injections" value="rce_injections"> Remote Code </input><br>
				<input type="radio" name="i_options" id="ldap_injections" value="ldap_injections"> LDAP </input><br>
				<input type="radio" name="i_options" id="dast_scan" value="dast_scan"> Full DAST </input><br>
				<input type="radio" name="i_options" id="url_snoop" value="url_snoop"> URL Snooper </input><br>
				<br />
				<input type="submit" name="fuzz" value="Fuzz it!">
			</form>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Fuzz</h4>
                <p>Fuzz your endpoints here. Please use the '[]' as a parameter for injection.</p>
				<p>Example: http://www.example.com/index.php?id=[]</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; HackersClub 2017</p>
        </footer>
 
    </div>
</body>
 
</html>