<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web/API Fuzzer</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><a href="/">Go Home</a>
			<br />
			</li>
		</ul>
	</nav>
</head>

<body>
	<h3><u>Past Runs Today</u></h3>
  <div class="jumbotron">
      <form action="/past_runs" method="POST">
  Limit: <input type="text" name="text"><br />
  <input type="submit" name="search" value="Go!">
  </div>
	<table border="1" cellpadding="5" cellspacing="5">
		{% if data |length >= 1 %}
			<th>Request</th>
			<th>Fuzzed URL</th>
			<th>Code</th>
			<th>Run Time</th>
			{% for row in data %}
				<tr>
				{% for d in row %}
					<td>{{ d }}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		{% else %}
			<p>No data yet</p>
		{% endif %}
	</table>
</body>

</html>
