<html>
  <head>
    <a href="/">Go Home</a>
    <p>
  </head>
   <body>

      <form action = "/upload" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <table border="1" cellpadding="5" cellspacing="5">
    		{% if data |length >= 1 %}
    			<th>File Name</th>
    			<th>MD5 Hash</th>
    			<th>SHA1 Hash</th>
          <th>SHA256 Hash</th>
          <th>SSDeep</th>
          <th>Compared Ranking</th>
          <th>Infected</th>
    			<th>Found At</th>
    			{% for row in data %}
    				<tr>
    				   <td>{{ row[0] }}</td>
               <td>{{ row[1] }}</td>
               <td>{{ row[2] }}</td>
               <td>{{ row[3][:15] }}...</td>
               <td>{{ row[4] }}</td>
               <td>{{ row[5] }}</td>
               {% if row[6] == 1 %}
                 <td>True</td>
               {% else %}
                 <td>False</td>
               {% endif %}
               <td>{{ row[7] }}</td>
    				</tr>
    			{% endfor %}
    		{% else %}
    			<p>No data yet</p>
    		{% endif %}
    	</table>
   </body>
</html>
